.userhometext {
  font-family: "Vidaloka", serif;
  font-size:xxx-large !important;
  color: #000f08;
}
#newspagehr {
  color: #e65f5c;
}
#colpadding {
  padding: 2%;
}
#picandformcontainer {
  justify-content: center;
}
