*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --first-color: #ff005a;
    --second-color: #8400ff;
    --third-color: #000;
    --body-front:'Montserrat', sans-serif;
}
.body404{
    margin: 0;
    font-family: var(--body-front);
    background-color: var(--third-color);
}
#notfound{
    position: relative;
    height: 100vh;
}
#notfound .notfound{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}
.notfound .notfound-404{
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    font-size: 200px;
    z-index: -1;
}
#h1404{
    position: absolute;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 224px;
    font-weight: 900;
    margin: 0 0 0 -12px;
    color: var(--third-color);
    text-transform: uppercase;
    text-shadow: -1px -1px 0px var(--second-color), 1px 1px 0px var(--first-color);
    letter-spacing: -20px;
}
#h2404{
    position: absolute;
    left:0;
    top:110px;
    right:0;
   font-size: 42px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px var(--first-color);
    letter-spacing: 13px;
    margin: 0;

}